<div class="wrapper">
    <div class="pie-charts">
        <div class="pieID--micro-skills pie-chart--wrapper">
            <h2>Income Sources</h2>
            <div class="pie-chart">
                <div class="pie-chart__pie"></div>
                <ul class="pie-chart__legend">
                    <li><em>Salary</em><span>612</span></li>
                    <li><em>Stock Portfolio</em><span>458</span></li>
                </ul>
            </div>
        </div>
        <div class="pieID--categories pie-chart--wrapper">
            <h2>Income Spending</h2>
            <div class="pie-chart">
                <div class="pie-chart__pie"></div>
                <ul class="pie-chart__legend">
                    <li><em>Rent</em><span>768</span></li>
                    <li><em>Groceries</em><span>432</span></li>
                    <li><em>Entertainment</em><span>232</span></li>
                    <li><em>Dining</em><span>132</span></li>
                    <li><em>Misc</em><span>232</span></li>
                </ul>
            </div>
        </div>
        <div class="pieID--operations pie-chart--wrapper">
            <h2>Savings</h2>
            <div class="pie-chart">
                <div class="pie-chart__pie"></div>
                <ul class="pie-chart__legend">
                    <li><em>New Car</em><span>486</span></li>
                    <li><em>House</em><span>156</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>