<mat-toolbar  fxLayout="row" fxLayoutAlign="start center">
    <a routerLink="/home"><button mat-raised-button class="nav-button" color="primary">Home</button></a>
    <a routerLink="/comments"><button mat-raised-button class="nav-button" color="primary">Comments</button></a>
    <a routerLink="/charts"><button mat-raised-button class="nav-button" color="primary">Charts</button></a>
    <span fxFlex></span>
    <div id="logo-container">
        <span class="logo-text">Component Suite</span>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>