mat-toolbar {
    border-bottom: 2px solid #7ccfc4;
    background-color: white;
}
    
.comment-container {
    background: none;
    position: relative;
    height: calc(100% - 64px);
    width: 100%;

    .entry-panel {
        height: 100%;
        width: 100%;
        background: none;
        padding: 15px;

        .entry-card {
            .entry-card-content {
                padding: 15px;

                mat-form-field {
                    width: 100%;
                    height: 300px;
                }
            }
        }
    }

    .comment-list {
        background: none;
        padding: 15px;
        overflow: auto;

        .comment-item {
            min-width: calc(100% - 30px);
            padding: 15px;
            background: white;
            border: 1px solid rgb(207, 207, 207);
            margin-bottom: 10px;
            border-radius: .5em;
            box-shadow: 1px 2px 1px rgb(207, 207, 207);

            &-accent {
                color: lightgray;
            }

            

            .comment-details {
                width: 200px;
                height: 100%;
                font-size: 13px;
                font-weight: bold;

                .comment-timestamp {
                    float: right;
                }

                .comment-client {
                    float: right;
                }
            }

            #comment-text {
                width: 100%;
                font-size: 12px;
                font-weight: bold;
                word-wrap: break-word;
            }

            .comment-action {
                float: right;
            }
        }

        .comment-placeholder {
            height: 45px;
            min-width: calc(100% - 30px);
            padding: 15px;
            background: lightgray;
            border: 1px solid rgb(207, 207, 207);
            margin-bottom: 10px;
            border-radius: .5em;
            box-shadow: 1px 2px 1px rgb(207, 207, 207);

            &-accent {
                color: lightgray;
            }
        }
    }
}

.flex-container {
    height: 100%;
    width: 100%;
}

#logo-container {
    height: 100%;
    text-transform: uppercase;
    letter-spacing: .5em;

    .logo-text {
        font: 700 40px "Verdana", sans-serif;
        letter-spacing: 0;
        padding: .1em 0;
        display: block;
        text-shadow: 0 0 80px rgba(255, 255, 255, .5);

        background: url('src/assets/images/fill.png') repeat-y;
	    -webkit-background-clip: text;
	    background-clip: text;
        filter: invert(64%) sepia(40%) saturate(6694%) hue-rotate(159deg) brightness(91%) contrast(101%);
        -webkit-text-fill-color: transparent;
	    -webkit-animation: aitf 80s linear infinite;

        -webkit-transform: translate3d(0,0,0);
	    -webkit-backface-visibility: hidden;
    }
}

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

.stack-top {
    z-index: 20;
    background: none;
}

.animated-background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.animated-text {
    font-family: "VT323", monospace, sans-serif;
    text-shadow: 0 0 1px #ffffff;
    position: fixed;
    bottom: -100vh;
    user-select: none;
    animation-name: float-animation;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

@keyframes float-animation {
    0% {
      top: 100vh;
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      top: 0;
      opacity: 0;
    }
  }